In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
cnbv_df = pd.read_csv( "./Resources/csv/base_cnbv.csv")
catalogo_sector= pd.read_csv('./Resources/csv/catalogo.csv', encoding= 'latin-1')

In [3]:
cnbv_df["Cartera_Total"] = cnbv_df["Cartera_Total"].str.replace(",","").astype(float)

In [4]:
cnbv_df['Cartera_Total'].sum()

2564433.3899999997

In [5]:
catalogo_sector.head()

                   Actividad_economica_agragada        Sector
0  Agricultura, Silvicultura, Ganadería y Pesca         Otros
1                   Alimentos, Bebidas y Tabaco         Otros
2                                      Comercio         Otros
3           Comunicaciones y Telecomunicaciones         Otros
4                                  Construcción  Construccion

In [6]:
catalogo_sector.head()

                   Actividad_economica_agragada        Sector
0  Agricultura, Silvicultura, Ganadería y Pesca         Otros
1                   Alimentos, Bebidas y Tabaco         Otros
2                                      Comercio         Otros
3           Comunicaciones y Telecomunicaciones         Otros
4                                  Construcción  Construccion

In [7]:
merge_1 = pd.merge(cnbv_df, catalogo_sector, on='Actividad_economica_agragada')

In [8]:
merge_1['Sector'].unique()

array(['Otros', 'Construccion', 'Industrias manufactureras',
       'Mineria y energia', 'Actividades secundarias'], dtype=object)

In [9]:
merge_1.columns

Index(['Escala', 'Estado_calculado', 'Actividad_economica_agragada',
       'Destino_del_crédito', 'Institución', 'Periodo_seguimiento', 'Cartera',
       'Cartera_Total', 'Cartera_Vigente', 'Cartera_Vencida', 'IMOR',
       'Creditos', 'Acreditados', 'Sector'],
      dtype='object')

In [10]:
rds_connection_string =  "ijumrmphpxjghs:60e1c244346de108f89c7a6cc7d27ef39cd59f3ed35012bf153c18a8d0a32264@ec2-107-20-230-70.compute-1.amazonaws.com:5432/d4m36o9apelhp0"

In [11]:
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
PIB_df=pd.read_sql_query('select * from pib_data', con=engine)

In [13]:
PIB_df.head()

,Estado_calculado,Actividad_economica_agragada,2018/01,2018/02,2018/03,2018/04,2018/05,2018/06,2018/07,2018/08,2018/09,2018/10,2018/11,2018/12,2019/01
0,AGUASCALIENTES,Minería,71.581928,74.538138,81.759683,72.966245,76.021630,67.741930,70.577510,75.160746,73.241484,71.103056,78.240948,67.380510,61.900116
1,AGUASCALIENTES,"Generación, transmisión y distribución de ener...",123.135766,125.902232,116.336919,131.971977,122.666208,134.363338,128.927324,124.895400,135.179778,133.347973,142.452951,126.612567,127.888741
2,AGUASCALIENTES,Construcción,122.091917,130.383091,126.659724,113.136473,115.405914,108.993267,116.819366,116.504343,117.430186,121.931559,126.966549,118.115246,115.432118
3,AGUASCALIENTES,Industrias manufactureras,156.279936,137.011376,143.705521,130.896569,143.841126,147.869162,123.645452,153.326693,148.927985,161.185942,158.353279,125.159600,127.898922
4,BAJA CALIFORNIA,Actividades secundarias,119.017000,118.761770,122.218695,120.953159,123.841961,124.877570,127.481205,131.474620,128.187831,133.690253,127.974122,121.101113,128.953189

In [14]:
merge_2 = pd.merge(PIB_df,catalogo_sector,on="Actividad_economica_agragada",how="left")

In [15]:
merge_2.head(1)

,Estado_calculado,Actividad_economica_agragada,2018/01,2018/02,2018/03,2018/04,2018/05,2018/06,2018/07,2018/08,2018/09,2018/10,2018/11,2018/12,2019/01,Sector
0,AGUASCALIENTES,Minería,71.581928,74.538138,81.759683,72.966245,76.02163,67.74193,70.57751,75.160746,73.241484,71.103056,78.240948,67.38051,61.900116,Mineria y energia

In [16]:
group_pib=pd.DataFrame(merge_2.groupby(["Estado_calculado","Sector"]).mean())

In [17]:
group_pib.head(1)

,,2018/01,2018/02,2018/03,2018/04,2018/05,2018/06,2018/07,2018/08,2018/09,2018/10,2018/11,2018/12,2019/01
Estado_calculado,Sector,,,,,,,,,,,,,
AGUASCALIENTES,Actividades secundarias,143.423253,133.763434,136.807314,124.356369,133.304994,133.934795,120.775552,139.804141,137.429717,146.718298,146.78649,122.079741,122.926209

In [18]:
group_pib=group_pib.reset_index(level=1,col_level=1)
group_pib=group_pib.reset_index(level=0,col_level=0)

In [19]:
group_pib.columns

Index(['Estado_calculado', 'Sector', '2018/01', '2018/02', '2018/03',
       '2018/04', '2018/05', '2018/06', '2018/07', '2018/08', '2018/09',
       '2018/10', '2018/11', '2018/12', '2019/01'],
      dtype='object')

In [20]:
group_cnbv=merge_1.groupby(["Estado_calculado","Sector"]).sum()
group_cnbv=group_cnbv.reset_index(level=1,col_level=1)
group_cnbv=group_cnbv.reset_index(level=0,col_level=0)

In [21]:
group_cnbv.columns

Index(['Estado_calculado', 'Sector', 'Cartera_Total', 'IMOR'], dtype='object')

In [1]:
new_df = pd.merge(group_cnbv,group_pib,  how='left', left_on=['Estado_calculado','Sector'], right_on = ['Estado_calculado','Sector'])

NameError: name 'pd' is not defined

In [23]:
new_df.head(5)

,Estado_calculado,Sector,Cartera_Total,IMOR,2018/01,2018/02,2018/03,2018/04,2018/05,2018/06,2018/07,2018/08,2018/09,2018/10,2018/11,2018/12,2019/01
0,AGUASCALIENTES,Actividades secundarias,2827.89,52.91,143.423253,133.763434,136.807314,124.356369,133.304994,133.934795,120.775552,139.804141,137.429717,146.718298,146.786490,122.079741,122.926209
1,AGUASCALIENTES,Construccion,5386.02,178.88,122.091917,130.383091,126.659724,113.136473,115.405914,108.993267,116.819366,116.504343,117.430186,121.931559,126.966549,118.115246,115.432118
2,AGUASCALIENTES,Industrias manufactureras,4250.33,41.99,156.279936,137.011376,143.705521,130.896569,143.841126,147.869162,123.645452,153.326693,148.927985,161.185942,158.353279,125.159600,127.898922
3,AGUASCALIENTES,Mineria y energia,262.16,0.02,97.358847,100.220185,99.048301,102.469111,99.343919,101.052634,99.752417,100.028073,104.210631,102.225515,110.346949,96.996538,94.894428
4,AGUASCALIENTES,Otros,9408.62,566.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BAJA CALIFORNIA NORTE,Actividades secundarias,6187.43,347.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,BAJA CALIFORNIA NORTE,Construccion,10841.48,246.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,BAJA CALIFORNIA NORTE,Industrias manufactureras,499.80,472.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,BAJA CALIFORNIA NORTE,Mineria y energia,2742.60,6.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,BAJA CALIFORNIA NORTE,Otros,30637.35,973.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,BAJA CALIFORNIA SUR,Actividades secundarias,74.12,31.32,215.784728,173.241978,178.259494,200.293877,218.955422,230.034383,199.754092,200.366516,208.924921,196.463342,252.467553,255.182810,211.842820
11,BAJA CALIFORNIA SUR,Construccion,9289.88,257.02,263.621278,206.212087,212.255208,242.250145,267.505938,281.682398,234.291858,234.046197,248.132585,231.835694,313.736873,322.317133,260.655564
12,BAJA CALIFORNIA SUR,Industrias manufactureras,36.36,94.52,97.123754,97.139501,98.698995,102.832537,107.580922,104.615364,104.830218,107.421979,105.302333,104.879912,105.857195,100.986597,96.103886
13,BAJA CALIFORNIA SUR,Mineria y energia,44.66,35.28,126.852187,110.292999,114.211387,120.610645,126.229158,133.241319,137.587702,139.804600,137.054450,131.179053,136.847361,126.675441,119.416106
14,BAJA CALIFORNIA SUR,Otros,9818.78,546.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,CAMPECHE,Actividades secundarias,310.52,43.57,73.187916,66.303685,72.192352,70.874203,71.708626,68.154311,71.850523,70.619075,70.078459,69.703815,66.071998,69.702871,69.242131
16,CAMPECHE,Construccion,848.54,218.78,49.929364,54.130413,56.169079,57.778484,53.742830,53.240884,64.304882,53.974188,47.384302,50.282319,42.544686,50.432062,58.934963
17,CAMPECHE,Industrias manufactureras,47.81,38.25,82.971959,92.162632,102.357443,108.898191,100.543496,83.555798,77.894621,81.171098,77.916637,78.686031,79.618109,87.053711,88.092438
18,CAMPECHE,Mineria y energia,328.14,68.06,74.325261,72.166564,85.363132,79.644200,88.414646,97.384243,95.923648,96.083866,94.422149,89.053999,102.652245,88.604199,78.087144
19,CAMPECHE,Otros,4360.97,690.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,CHIAPAS,Actividades secundarias,75.69,26.57,68.807584,69.274547,71.288132,73.722667,81.447538,81.319087,78.537625,73.846956,72.794922,73.555341,70.901154,62.014701,61.354942
21,CHIAPAS,Construccion,1779.92,593.52,72.937395,80.493854,74.480858,79.627733,87.335857,79.867758,85.654713,85.122332,96.531643,93.806520,90.446996,71.359639,62.921552
22,CHIAPAS,Industrias manufactureras,67.75,144.30,81.082688,78.685607,81.774676,78.619373,80.622848,88.129748,87.343220,82.617935,79.871251,84.272012,85.912430,78.839620,78.112793
23,CHIAPAS,Mineria y energia,15.88,166.21,61.040988,59.689273,71.366988,83.776568,107.857629,106.720602,83.788719,69.582149,53.865795,52.097151,44.137661,40.712200,44.733507
24,CHIAPAS,Otros,6283.89,1215.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
cnbv_pib=new_df[['Estado_calculado','Sector','Cartera_Total','2019/01']].copy()

In [25]:
cnbv_pib.head(5)

  Estado_calculado                     Sector  Cartera_Total     2019/01
0   AGUASCALIENTES    Actividades secundarias        2827.89  122.926209
1   AGUASCALIENTES               Construccion        5386.02  115.432118
2   AGUASCALIENTES  Industrias manufactureras        4250.33  127.898922
3   AGUASCALIENTES          Mineria y energia         262.16   94.894428
4   AGUASCALIENTES                      Otros        9408.62         NaN